<ion-view title="Reports">

<ion-content has-header="true" padding="true">

  <div class="list card reports">
    <div class="item item-avatar">
      <img src="pics/{{employee.pic}}"/>
      <h2>{{employee.firstName}} {{employee.lastName}}</h2>
      <p>{{employee.title}}</p>
    </div>
    
    <!-- Complete code below 
      loop through employee reports use <a>
      and click the link should redirect to report person's detail page-->
    <a class="item item-avatar item-icon-left" 
      ng-repeat="" href="">
      
      <!-- Complete code below, show reporter's image -->
      <img src=""/>
      <!-- show full name in <span> below -->
      <span> 

      </span>
      <!-- show repoter's title in <p> below -->
      <p> 

      </p>
    </a>
  </div>

</ion-content>

</ion-view>