<ion-view title="{{movie.title}}">

  <ion-content has-header="true" padding="true">

    <div class="list card">
      <div class="item item-divider item-text-wrap">
        <!-- show movie title and movie's release date-->
        <h2><!-- title --> (<!-- release date-->)</h2>
      </div>
      <div class="item item-image">
        <img ng-src="data/pics/{{movie.poster.imdb}}" style="width:auto;">
      </div>
      <div class="item item-text-wrap">
        <!--show the plot_simple attribute of movie -->
        <!-- complete here -->
      </div>
      
      <ion-item class="item-icon-left item-text-wrap">
        <i class="icon ion-information placeholder-icon"></i>
        <!-- show movie's genres, seperated by ,-->
        <span>
          <!-- complete here -->
        </span>
      </ion-item>
      
      <ion-item class="item-icon-left item-text-wrap">
        <i class="icon ion-alert-circled placeholder-icon"></i>
        <!-- show movie's rated attribute -->
        <span>
          <!-- complete here -->
        </span>
      </ion-item>
      
      <ion-item class="item-icon-left item-text-wrap">
        <i class="icon ion-flag placeholder-icon"></i>
        <!-- show movie's first language (language attribute is an array)-->
        <span>
          <!-- complete here -->
        </span>
      </ion-item>   
  
      <ion-item class="item-icon-left item-text-wrap">
        <i class="icon ion-location placeholder-icon"></i>
        <!-- show movie's country, joined by ,  -->
        <span>
          <!-- complete here -->
        </span>
      </ion-item>
      
      <ion-item class="item-icon-left item-text-wrap">
        <i class="icon ion-calendar placeholder-icon"></i>
        <!-- show movie's directors, joined by ,  -->
        <span>
          <!-- complete here -->
        </span>
      </ion-item>
  
      <ion-item class="item-icon-left item-text-wrap">
        <i class="icon ion-person-stalker placeholder-icon"></i>
        <!-- show the first three actors of the movie, joined by , -->
        <span>
          <!-- complete here -->
        </span>
      </ion-item>
      
    </div>

  </ion-content>

</ion-view>